@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.nav-bar{
    position: relative;
    padding: 15px;
    width: 100%;
    box-shadow: 2px 4px 29px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 4px 29px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 4px 29px 1px rgba(0,0,0,0.25);

}

.nav-bar > p {
    font-size: 1rem;
    font-weight: bolder;
}

.content {
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    height: 90vh;
}

.content .intro {
    background-color: rgb(166, 166, 166);
    color: white;
    font-weight: bolder;
    flex: 50%;
    padding: 50px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 2px 32px -3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 2px 32px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 32px -3px rgba(0,0,0,0.6);
    border-radius: 20px;

}

.content #hi {
    font-size: 2rem;
    color: black;
}

.content #name{
    margin-bottom: 15px;
}

.content .tell{
    font-size: 1.2rem;
}

.content .image {
    flex: 50%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.content img{
    width: 50%;
    border-radius: 80px;
    box-shadow: 0px 2px 32px -3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 2px 32px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 32px -3px rgba(0,0,0,0.6); 
}

.closing {
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

.closing .skill-project {
    flex: 50%;
    margin-right: 40px;
}

.closing .skill-project h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.closing .skill{
    margin-left: 40px;
}

.closing h2{
    font-size: 2rem;
    margin-bottom: 9px;
    margin-top: 30px;
}

.closing .skill p{
    text-indent: 2em;
}

.closing .project{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.closing .project li{
    margin-bottom: 8px; 
    margin-left: 20px;
}

.closing .message {
    margin-top: 20px;
    border-left: 5px solid grey;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closing .message input {
    margin-bottom: 10px;
}

.closing .message #submit {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content {
        flex-direction: column;
    }

    .closing {
        flex-direction: column;
    }

    .closing .message {
        border-top: 5px solid grey;
        border-left: none;
    }
  }